body {
    margin: 0px;
    overflow-x: hidden;

}

.i {
    height: 50%;
    width: 20%;
    text-align: center;
}

.socila_links li{
list-style-type: none;
display: inline-flex;
vertical-align: middle;
display: inline-flex;
justify-content: center;
align-items: center;

}
.navbars{
background-color: #148ECF !important;
color:#fff !important;

top: -11px;
}

.navlink{
color: #fff;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
color: #FCC236;
}
.nav-link:focus, .nav-link:hover {
color:#FCC236;
}